<!-- Select field
<div class="h-56px rounded-2xl bg-neutral-white focus-within:outline-2 focus-within:ring-2 focus-within:ring-primary-100 hover:ring-2 hover:ring-primary-100 cursor-pointer select-none"
     [ngClass]="{ 'ring-2 ring-primary-100': select.panelOpen }" (click)="select.open()">
  <mat-form-field [subscriptSizing]="'dynamic'"  class="text-sm w-full">
    &lt;!&ndash; Placeholder &ndash;&gt;
    <mat-label>{{placeholder}}</mat-label>
    &lt;!&ndash; Mat select &ndash;&gt;
    <mat-select #select
                disableOptionCentering [formControl]="rangeFormControlToUse" [compareWith]="compareObjectAsJson">
      <mat-option
        *ngIf="rangeFormControlToUse.value"
        [value]="getRangeObject"
        style="display: none !important;"
        [disabled]="true">
        {{rangeFormControlToUse.value.min + ' - ' + rangeFormControlToUse.value.max + ' DKK'}}
      </mat-option>
      <mat-option class="font-rubik text-sm include py-3" [disabled]="true">
        <div class="flex flex-row space-x-2">
          <app-input-field [formControlToUse]="minFormControlToUse" [placeholder]="'Min'" [greyBackground]="true"></app-input-field>
          <app-input-field [formControlToUse]="maxFormControlToUse" [placeholder]="'Max'" [greyBackground]="true"></app-input-field>
        </div>
        <div class="flex justify-center">
          <mat-slider class="w-10/12" min="0" max="1000">
            <input matSliderStartThumb [(ngModel)]="minValue" (ngModelChange)="onMinValueChange()">
            <input matSliderEndThumb [(ngModel)]="maxValue" (ngModelChange)="onMaxValueChange()">
          </mat-slider>
        </div>
        <div>
          <app-button class="flex justify-center"
          text="Apply"
          [color]="'primary-100'"
          [size]="FieldSizes.FULL"
          (click)="saveRange(); select.close();">
          </app-button>
        </div>
      </mat-option>
    </mat-select>
    <div class="absolute h-full right-0.5 top-0 flex items-center pointer-events-none">
      <i class="uil uil-angle-down text-neutral-black dark:text-neutral-white text-2xl transition-all transform duration-200 rotate-0 origin-center"
         [ngClass]="select.panelOpen ? 'rotate-90' : 'rotate-0'"></i>
    </div>
  </mat-form-field>
</div>-->

<div class="flex flex-row space-x-2">
  <app-input-field [formControlToUse]="minFormControlToUse" [placeholder]="'Min'" [greyBackground]="true"></app-input-field>
  <app-input-field [formControlToUse]="maxFormControlToUse" [placeholder]="'Max'" [greyBackground]="true"></app-input-field>
</div>
<div class="flex justify-center">
  <mat-slider class="w-10/12" min="0" max="1000">
    <input matSliderStartThumb [(ngModel)]="minValue" (ngModelChange)="onMinValueChange()">
    <input matSliderEndThumb [(ngModel)]="maxValue" (ngModelChange)="onMaxValueChange()">
  </mat-slider>
</div>


