<article class="w-min h-min relative">

  <div id="map" class="w-field-medium lg:w-field-large h-72 rounded-xl"></div>

  <section class="flex flex-col gap-1 w-min absolute bottom-2 right-2">
    <i (click)="zoomIn()" class="uil uil-plus text-base p-2 rounded w-min flex cursor-pointer bg-neutral-white dark:bg-gray-100 hover:bg-gray-10 hover:dark:bg-gray-110 dark:text-neutral-white"></i>
    <i (click)="zoomOut()" class="uil uil-minus text-base p-2 rounded w-min flex cursor-pointer bg-neutral-white dark:bg-gray-100 hover:bg-gray-10 hover:dark:bg-gray-110 dark:text-neutral-white"></i>
  </section>

</article>


