<div class="flex w-full h-full overflow-hidden" *ngIf="loginFormGroup">
  <div class="h-full transition-all duration-500 w-full flex items-center md:pb-16 lg:pb-0">
    <section class="flex flex-col items-center justify-center bg-neutral-white dark:bg-gray-110 h-min lg:h-full w-full h-fit rounded-xl lg:rounded-none py-6 px-6 md:px-20 md:py-14 lg:p-0 lg:mt-0 w-min lg:w-full mx-auto lg:mx-0">
      <ng-container [ngTemplateOutlet]="viewMode()"></ng-container>
    </section>
  </div>
</div>

<ng-template #LOGIN>
  <form class="flex flex-col justify-center gap-4 w-300 transition-all duration-200" (ngSubmit)="loginWithUsernameAndPassword()">
    <h1 class="text-neutral-black dark:text-neutral-white font-bold text-2xl md:text-3xl font-rubik">Login</h1>

    <section id="login-input-section" class="gap-2 flex flex-col">
      <app-invalid-submit-message
        [displayCondition]="userStore._jwt.getValue.status === RequestStatusType.FAILED">
      </app-invalid-submit-message>

      <app-text-input
        [showOptional]="false"
        [leftIcon]="IconNames.envelope_alt"
        [placeholder]="'example@gmail.com'"
        [label]="'E-mail'"
        [autocompleteValue]="'username'"
        [initialInputType]="'email'"
        [inputFormControl]="asFormControl(loginFormGroup.get(FormControlNames.email))">
      </app-text-input>

      <app-text-input
        [showOptional]="false"
        [leftIcon]="IconNames.lock_alt"
        [placeholder]="'* * * * * *'"
        [label]="'Password'"
        [autocompleteValue]="'current-password'"
        [initialInputType]="'password'"
        [inputFormControl]="asFormControl(loginFormGroup.get(FormControlNames.password))">
      </app-text-input>
    </section>


    <a (click)="changeView(FORGOT_PASS_TEMPLATE)" class="font-semibold text-primary-80 self-end cursor-pointer text-xs md:text-sm hover:underline dark:text-primary-80 z-10">
      Forgot password?
    </a>

    <app-button-a
      [btnType]="'submit'"
      [btnText]="'Login'"
      [btnStyle]="'normal'"
      [disabled]="this.loaderStore.isProcessingQueue()">
    </app-button-a>

    <div class="flex items-center mt-2">
      <hr class="border-gray-60 dark:border-neutral-white flex-1">
      <span class="mx-4 text-gray-60 dark:text-neutral-white font-rubik text-xs md:text-sm">Easy login with</span>
      <hr class="border-gray-60 dark:border-neutral-white flex-1">
    </div>

    <section class="flex flex-col items-center gap-3">
      <app-social-login-button
        [socialType]="'google'">
      </app-social-login-button>

      <app-social-login-button
        [socialType]="'facebook'"
        (onClick)="userStore.loginWithFacebook()"
        class="w-full">
      </app-social-login-button>
    </section>
  </form>

  <ng-container [ngTemplateOutlet]="BOTTOM_LINE"></ng-container>
</ng-template>

<ng-template #REGISTER>
  <form class="flex flex-col justify-center gap-4 w-300" (ngSubmit)="register()">

    <h1 class="text-neutral-black dark:text-neutral-white font-bold text-2xl md:text-3xl">
      Register
    </h1>

    <app-text-input
      [leftIcon]="IconNames.user"
      [placeholder]="'First name'"
      [label]="'First name'"
      [autocompleteValue]="'given-name'"
      [initialInputType]="'text'"
      [inputFormControl]="asFormControl(registerFormGroup.get(FormControlNames.firstName))">
    </app-text-input>

    <app-text-input
      [leftIcon]="IconNames.user"
      [placeholder]="'Last Name'"
      [label]="'Last name'"
      [autocompleteValue]="'family-name'"
      [initialInputType]="'text'"
      [inputFormControl]="asFormControl(registerFormGroup.get(FormControlNames.lastName))">
    </app-text-input>

    <app-text-input
      [leftIcon]="IconNames.envelope_alt"
      [placeholder]="'Example@gmail.com'"
      [label]="'E-mail'"
      [autocompleteValue]="'username'"
      [initialInputType]="'email'"
      [inputFormControl]="asFormControl(registerFormGroup.get(FormControlNames.email))">
    </app-text-input>

    <app-text-input
      [showErrors]="false"
      [leftIcon]="IconNames.lock_alt"
      [placeholder]="'* * * * *'"
      [label]="'Password'"
      [autocompleteValue]="'new-password'"
      [initialInputType]="'password'"
      [inputFormControl]="asFormControl(registerFormGroup.get(FormControlNames.password))">
    </app-text-input>

    <app-button-a
      [btnType]="'submit'"
      [btnText]="'Create account'"
      [btnStyle]="'normal'"
      [disabled]="registerFormGroup && !registerFormGroup.valid">
    </app-button-a>
  </form>
  <ng-container [ngTemplateOutlet]="BOTTOM_LINE"></ng-container>
</ng-template>

<ng-template #FORGOT_PASSWORD>
  <form class="flex flex-col justify-center gap-4 w-300" (ngSubmit)="sendRestorePassword()">

    <section class="flex flex-col gap-2">
      <h1 class="text-neutral-black dark:text-neutral-white font-bold text-2xl md:text-3xl">
        Restore password
      </h1>

      <p class="text-gray-80 dark:text-neutral-white text-xs md:text-sm text-left">
        Type your email and we will send you a link to restore your password
      </p>
    </section>


    <app-text-input
      [leftIcon]="IconNames.envelope_alt"
      [placeholder]="'Example@gmail.com'"
      [label]="'E-mail'"
      [autocompleteValue]="'username'"
      [initialInputType]="'email'"
      [inputFormControl]="asFormControl(restorePassFormGroup.get(FormControlNames.email))">
    </app-text-input>

    <app-button-a
      [btnText]="'Send'"
      [btnType]="'submit'"
      [btnStyle]="'normal'"
      [disabled]="restorePassFormGroup && !restorePassFormGroup.valid">
    </app-button-a>

    <a (click)="changeView(LOGIN_TEMPLATE)" class="text-neutral-black dark:text-neutral-white self-center cursor-pointer text-xs md:text-sm hover:underline">
      Back to login
    </a>
  </form>

  <ng-container [ngTemplateOutlet]="BOTTOM_LINE"></ng-container>
</ng-template>

<ng-template #BOTTOM_LINE>
  <article class="text-xs md:text-sm text-neutral-black dark:text-neutral-white mt-10 lg:mt-0 lg:absolute bottom-6 flex gap-1">
    <p id="haveAccText">
      {{viewMode() === REGISTER_TEMPLATE ? 'Have an account already?' : 'Dont have an account yet?'}}
    </p>
    <a (click)="changeView(viewMode() === REGISTER_TEMPLATE ? LOGIN_TEMPLATE : REGISTER_TEMPLATE)" class="text-primary-80 font-semibold cursor-pointer hover:underline">
      {{viewMode() === REGISTER_TEMPLATE ? 'Login here' : 'Create an Account'}}
    </a>
  </article>
</ng-template>
