<div class="w-full h-1 flex items-center bg-neutral-white relative">
  <div class="absolute left-0 h-full bg-primary-100 transition-all duration-500"
    [style.width.%]="(selectedIndex + 1) * (100 / items.length) - 12">
  </div>
  <div class="w-3/5 mx-auto relative top-[-20px] flex flex-row justify-around">
    <ng-container *ngFor="let item of items; let i = index">
      <div
        class="bg-primary-100 rounded-full"
        (click)="select(i)">
<!--        add validation to the emitter-->
        <app-icon-btn
          [iconName]="item.icon"
          [tabIndex]="-1"
          [isBackground]="false"
          [isWhiteIcon]="true"
          (click)="goTo.emit(item.template)">
        </app-icon-btn>
        <i [ngClass]="item.icon"></i>
      </div>
    </ng-container>
  </div>
</div>
