<section>
    <app-title title="Create Organisation"></app-title>

    <!-- top bar (icons with steps)-->
  <app-create-progress-bar
    [items]="items"
    (goTo)="currentView = $event"></app-create-progress-bar>

    <!-- content -->
    <section class="my-10 flex justify-center">
        <ng-container [ngTemplateOutlet]="currentView"></ng-container>
    </section>
</section>

<ng-template #GENERAL>
    <section class="w-4/6 flex flex-col gap-4" [formGroup]="generalFormGroup">
        <h2 class="text-xl lg:text-2xl text-text-primary font-bold font-rubik w-full lg:w-field-large lg:relative lg:right-9">
            <i class="uil uil-archive text-2xl lg:text-3xl mr-2"></i>General info</h2>
        <div class=" flex gap-3 flex-col lg:flex-row w-full ">
            <app-input-field
                [placeholder]="'Name'"
                [formControlToUse]="asFormControl(generalFormGroup.get(FormControlNames.name))"></app-input-field>
            <app-select-field
                [placeholder]="'Category'"
                [list]="categoryList"
                [itemValue]="'id'"
                [displayValue]="'name'"
                [formControlToUse]="asFormControl(generalFormGroup.get(FormControlNames.category))"></app-select-field>
        </div>
        <app-input-field
            [placeholder]="'Tagline'"
            [formControlToUse]="asFormControl(generalFormGroup.get(FormControlNames.tagline))"></app-input-field>
        <app-text-field
            [placeholder]="'Description'"
            [formGroupToUse]="generalFormGroup"
            [formControlNameToUse]="FormControlNames.description"></app-text-field>
      <div class="flex justify-center gap-4 my-3">
        <app-button
          [text]="'Cancel'"
          [color]="'primary-100'"
          [size]="FieldSizes.EXTRA_SMALL"
          (click)="currentView = CONTACT_TEMPLATE"
          [disabled]="!generalFormGroup.valid"></app-button>
        <app-button
          [text]="'Next step'"
          [color]="'primary-100'"
          [size]="FieldSizes.EXTRA_SMALL"
          (click)="currentView = CONTACT_TEMPLATE"
          [disabled]="!generalFormGroup.valid"></app-button>
      </div>
    </section>
</ng-template>

<ng-template #CONTACT>
    <section class="flex flex-col items-center justify-center gap-4" [formGroup]="contactFormGroup">
        <h2 class="text-xl lg:text-2xl text-text-primary font-bold font-rubik w-full lg:w-field-large lg:relative lg:right-9">
            <i class="uil uil-incoming-call text-2xl lg:text-3xl mr-2"></i>Contact info</h2>
        <div class="flex gap-3 flex-col lg:flex-row w-full">
            <app-input-field
                placeholder="Phone number"
                [formControlToUse]="asFormControl(contactFormGroup.get(FormControlNames.phoneNumber))"
                [maxLength]="8"
                [type]="InputFieldTypes.NUMBER">
            </app-input-field>
            <app-input-field
                placeholder="Email"
                [formControlToUse]="asFormControl(contactFormGroup.get(FormControlNames.email))">
            </app-input-field>
        </div>

        <app-input-field
          placeholder="Address"
          [formControlToUse]="asFormControl(contactFormGroup.get(FormControlNames.address))"
          [isMapInput]="true"
        ></app-input-field>

        <div class="flex gap-3 flex-col lg:flex-row w-full">
            <app-input-field
              placeholder="Postal code"
              [formControlToUse]="asFormControl(contactFormGroup.get(FormControlNames.postCode))"
              [maxLength]="4"
              [type]="InputFieldTypes.NUMBER">
            </app-input-field>
            <app-input-field
              placeholder="City"
              [formControlToUse]="asFormControl(contactFormGroup.get(FormControlNames.city))">
            </app-input-field>
        </div>

        <app-google-maps
          [addressFormControl]="asFormControl(contactFormGroup.get(FormControlNames.address))"
          [postCodeFormControl]="asFormControl(contactFormGroup.get(FormControlNames.postCode))"
          [cityFormControl]="asFormControl(contactFormGroup.get(FormControlNames.city))">
        </app-google-maps>

        <div class="flex justify-center gap-4 my-3">
          <app-button
            [text]="'Previous step'"
            [color]="'primary-100'"
            [invertedColors]="true"
            [size]="FieldSizes.EXTRA_SMALL"
            (click)="currentView = GENERAL_TEMPLATE"></app-button>
          <app-button
            text="Next step"
            [color]="'primary-100'"
            [size]="FieldSizes.EXTRA_SMALL"
            (click)=" currentView = BILLING_TEMPLATE"
            [disabled]="!contactFormGroup.valid"></app-button>
        </div>
    </section>
</ng-template>

<ng-template #BILLING>
    <section class="flex flex-col items-center justify-center gap-4" [formGroup]="billingFormGroup">
        <h2 class="text-xl lg:text-2xl text-text-primary font-bold font-rubik w-full lg:w-field-large lg:relative lg:right-9">
            <i class="uil uil-bill text-2xl lg:text-3xl mr-2"></i>Billing information</h2>
        <div class="flex gap-3 flex-col lg:flex-row w-full">
            <app-input-field
                placeholder="Reg nr."
                [formControlToUse]="asFormControl(billingFormGroup.get(FormControlNames.regNumber))"
                [maxLength]="4"
                [type]="InputFieldTypes.NUMBER"></app-input-field>
            <app-input-field
                placeholder="Account nr."
                [formControlToUse]="asFormControl(billingFormGroup.get(FormControlNames.accountNumber))"
                [maxLength]="10"
                [type]="InputFieldTypes.NUMBER"></app-input-field></div>
        <span class="text-text-primary w-full lg:w-field-large"><span class="font-semibold">BEWARE:</span> If this step is skipped your organization will not be able to create any events with a sign up fee before it is added.</span>

        <div class="flex items-center justify-center gap-4 my-3">
            <app-button
                text="Previous step"
                [color]="'primary-100'"
                [invertedColors]="true"
                [size]="FieldSizes.EXTRA_SMALL"
                (click)="currentView = CONTACT_TEMPLATE"></app-button>
            <app-button
                text="Next step"
                [color]="'primary-100'"
                [size]="FieldSizes.EXTRA_SMALL"
                (click)="currentView = APPEARANCE_TEMPLATE"
                [disabled]="!billingFormGroup.valid"></app-button>
        </div>

        <a class="text-text-grey cursor-pointer text-sm hover:underline"
        (click)="currentView = APPEARANCE_TEMPLATE">Skip for now</a>
    </section>
</ng-template>

<ng-template #APPEARANCE>
    <section class="flex flex-col items-center justify-center gap-4" [formGroup]="appearanceFormGroup">
        <h2 class="text-xl lg:text-2xl text-text-primary font-bold font-rubik w-full lg:w-field-large lg:relative lg:right-9">
            <i class="uil uil-star text-2xl lg:text-3xl mr-2"></i>Appearance</h2>

        <div class="flex flex-col lg:flex-row justify-center gap-4 cursor-pointer items-center">
            <!-- image container -->
            <div (click)="openFileChooser()"
                class="w-36 h-36 flex items-center justify-center rounded-xl"
                [style.backgroundColor]="appearanceFormGroup.get('colorHex')?.value">

                <img *ngIf="appearanceFormGroup.get('logoUrl')?.value && appearanceFormGroup.get('logoUrl')?.value!==''"
                    [src]="appearanceFormGroup.get('logoUrl')!.value"
                    class="max-h-full"/>
                <span *ngIf="!appearanceFormGroup.get('logoUrl')?.value || appearanceFormGroup.get('logoUrl')?.value===''"
                    class="text-text-white font-semibold">Upload file</span>
            </div>

            <div class="relative flex flex-col gap-2">

                <!-- color hex -->
                <div class="h-50px w-50px rounded-tl-xl rounded-bl-xl flex items-center justify-center absolute z-10"
                [style.backgroundColor]="appearanceFormGroup.get('colorHex')?.value"
                (click)="openColorPicker()">
                <i class="uil uil-pen text-text-white font-semibold text-xl"></i></div>

                <app-input-field
                    placeholder="Color Hex"
                    [formControlToUse]="asFormControl(appearanceFormGroup.get(FormControlNames.colorHex))"
                    [marginLeft]="true"></app-input-field>

                <input id="colorPickerTrigger"
                    [(colorPicker)]="color"
                    (colorPickerChange)="onColorPicked($event)"
                    [cpOutputFormat]="'hex'"
                    [cpAlphaChannel]="'disabled'"
                    class="opacity-0 w-0 h-0"/>

                <span class="text-text-primary w-field-medium"><span class="font-semibold">NOTE:</span> This color will be used to customise the page of this organisation.</span>
            </div>

        </div>

        <div class="flex items-center justify-center gap-4 my-3">
            <app-button
                text="Previous step"
                [color]="'primary-100'"
                [invertedColors]="true"
                [size]="FieldSizes.EXTRA_SMALL"
                (click)="currentView = BILLING_TEMPLATE"></app-button>
            <app-button
                text="Finish"
                [color]="'primary-100'"
                [size]="FieldSizes.EXTRA_SMALL"
                (click)="createOrganisation()"
                [disabled]="!appearanceFormGroup.valid"></app-button>
        </div>

        <input class="hidden" id="chooseLogoTrigger" type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg"/>
    </section>
</ng-template>

